html, body {
  background-color: #1b1b1f;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#notification {
  scrollbar-width: none;
}

#notification::-webkit-scrollbar  {
  display: none;
}
