<!DOCTYPE HTML>
<html class="text-white">
  <head>
    <script src="/htmx.js"></script>
    <script src="/tailwind.js"></script>
    <script type="module" src="/ws.js"></script>
    <script defer type="module" src="/app/main.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="/icon.png">
    <meta property="og:title" content="World Wide Waiting Room" />
    <meta property="og:description" content="Do nothing and you win! But be careful, others might steal your time." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://worldwidewaitingroom.com" />
    <meta property="og:site_name" content="World Wide Waiting Room" />
    <meta property="og:locale" content="en_US" />
    <title>Idle Royale</title>
  </head>
  <body>
    <div hx-ext="ws" ws-connect="/ws">
      <input type="hidden" name="sync" value="sync" ws-send hx-trigger="sync, every 1s">
    </div>
    <div id="stars" class="fixed left-0 top-0">
    </div>
    <div id="app">
      <app/>
    </div>

    <script>
      window.this_player_secret = `{{ secret }}`;
      const stars = document.querySelector("#stars");

      function addStar(biasTopLeft) {
        let max = biasTopLeft ? 25 : 100;
        if (biasTopLeft) {
          max -= 27
        }
        const x = Math.floor(Math.random() * max)
        const y = Math.floor(Math.random() * 100)
        const size = Math.floor(Math.random() * 2);

        const star = document.createElement("div");
        star.className = "star";
        star.style = `width: ${size}px; height: ${size}px; top: ${y}%; left: ${x}%`;
        stars.appendChild(star);
      }

      for (let i = 0; i < 500; i++) {
        addStar(false);
      }

      setInterval(() => {
        for (let child of document.querySelector("#stars").children) {
          const left = Number(child.style.left.replace("%", ""));
          const top = Number(child.style.top.replace("%", ""));

          child.style.left = `${left + 0.01}%`;

          if (left > 100) {
            addStar(true);
            document.querySelector("#stars").removeChild(child);
          }
        }
      }, 8);
    </script>
  </body>
</html>
