<!DOCTYPE HTML>
<html class="text-white">
  <head>
    <script src="/htmx.js"></script>
    <script src="/tailwind.js"></script>
    <script src="/bignumber.js"></script>
    <script type="module" src="/ws.js"></script>
    <script defer type="module" src="/app/main.js?v=34"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/icon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Idle Cosmos" />
    <meta property="og:description" content="A competitive online idle game." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://idlecosmos.com" />
    <meta property="og:site_name" content="Idle Cosmos" />
    <meta property="og:locale" content="en_US" />

    <title>Idle Cosmos</title>
  </head>
  <body>
    <div hx-ext="ws" ws-connect="/ws">
      <input id="sync" type="hidden" name="sync" value="sync" ws-send hx-trigger="sync, load">
    </div>
    <div id="stars" class="fixed left-0 top-0">
    </div>
    <div id="app">
      <app/>
    </div>

    <script>
      window.this_player_secret = `{{ secret }}`;
      const stars = document.querySelector("#stars");

      function addStar(biasTopLeft) {
        let max = biasTopLeft ? 25 : 100;
        if (biasTopLeft) {
          max -= 27
        }
        const x = Math.floor(Math.random() * max)
        const y = Math.floor(Math.random() * 100)
        const speed = (Math.floor(Math.random() * 200) + 50) / 10000
        const size = Math.floor(Math.random() * 2) + (150 * speed);

        const star = document.createElement("div");
        star.className = "star";
        star.setAttribute('speed', speed) 
        star.style = `width: ${size}px; height: ${size}px; top: ${y}%; left: ${x}%`;
        stars.appendChild(star);
      }

      for (let i = 0; i < 50; i++) {
        addStar(false);
      }

      setInterval(() => {
        const children = document.querySelector("#stars").children;
        for (let i = 0; i < children.length; i++) {
          const child = children[i];
          const left = Number(child.style.left.replace("%", ""));
          const top = Number(child.style.top.replace("%", ""));
          const speed = Number(child.getAttribute('speed'));

          child.style.left = `${left + speed}%`;

          if (left > 100) {
            addStar(true);
            document.querySelector("#stars").removeChild(child);
          }
        }
      }, 8);
    </script>
  </body>
</html>
