<!DOCTYPE HTML>
<html class="text-white">
  <head>
    <script src="/tailwind.js"></script>
    <script src="/htmx.js"></script>
    <script type="module" src="/ws.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="/man.png">
    <meta property="og:title" content="World Wide Waiting Room" />
    <meta property="og:description" content="Do nothing and you win! But be careful, others might steal your time." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://worldwidewaitingroom.com" />
    <meta property="og:site_name" content="World Wide Waiting Room" />
    <meta property="og:locale" content="en_US" />
    <title>World Wide Waiting Room</title>
  </head>
  <body>
    <div class="fixed top-4 right-4">
      <div class="flex flex-row space-x-2">
        <div class="relative">
          <button onclick="toggleWhatIsThis()" class="mx-auto max-w-max text-white border-white hover:text-[#212126] bg-[#212126] hover:bg-white px-2 border border-white hover:border-[#212126] rounded">What is this?</button>
          <div id="what-is-this" class="w-96 h-96 overflow-y-auto top-10 hidden rounded absolute right-[100%] z-100 bg-[#212126] rounded p-2 text-white border border-white">
            <div class="mx-auto px-2 space-y-4">
              <h1 class="text-center font-bold text-lg mb-4">What is this?</h1>
              <p>PVP Idle Game</p>
            </div>
          </div>
        </div>
        <a class="github-button" href="https://github.com/DanielDragan4/World-Wide-Waiting-Room" data-color-scheme="no-preference: dark_high_contrast; light: dark; dark: dark;" data-size="large" data-show-count="true" aria-label="Star DanielDragan4/World-Wide-Waiting-Room on GitHub">Star</a>
      </div>
    </div>

    <div class="fixed top-4 right-4 z-100">
      <div id="notification" class="flex flex-col space-y-2 max-h-64 overflow-y-auto z-100">
      </div>
    </div>

    <div hx-ext="ws" ws-connect="/ws">
      <input type="hidden" name="sync" value="sync" ws-send hx-trigger="sync, every 5s">
    </div>

    <div class="mx-auto w-full text-center mt-4">
      <!--<img src="/man.png" class="mt-2 mx-auto w-[360px]">-->
      <h1 class="font-bold text-white text-[2em]">World Wide Waiting Room</h1>
    </div>

    <div class="flex flex-col items-center">
      <h2 class="text-white mt-4 text-[1.3em]">Like waiting? Join our <a href="https://discord.gg/wBn6d2Vq" target="_blank" class="cursor-pointer hover:underline text-white font-bold">Discord</a>!</h2>
      <h1 class="text-white mt-4">Your Name</h1>
      <input 
        hx-post="/name" 
        hx-swap="none" 
        placeholder="Name"
        name="name"
        class="outline-none text-[4em] w-full text-center text-white max-w-max mx-auto bg-[#2e2e33] rounded mb-4" 
        type="text" 
        value="{{ data.name }}"
      >

      <div class="flex flex-row space-x-8">
        <div class="flex flex-col items-center">
          <h1 class="text-white text-sm text-center">Card Background<br>Color</h1>
          <input 
            hx-post="/color" 
            hx-swap="none" 
            name="bg"
            class="border-none bg-transparent w-[32px] h-[32px]" 
            type="color" 
            id="bg-color"
            value="{{ data.bg_color }}"
          >
        </div>
        <div class="flex flex-col items-center">
          <h1 class="text-white text-sm text-center">Card Text<br>Color</h1>
          <input 
            hx-post="/color" 
            hx-swap="none" 
            name="text"
            class="border-none bg-transparent w-[32px] h-[32px]" 
            type="color" 
            id="text-color"
            value="{{ data.text_color }}"
          >
        </div>
      </div>
    </div>

    <h3 class="absolute top-4 left-4 border border-white rounded p-2 text-xs" id="time-left"></h3>
    <div class="fixed left-0 top-[10%]">
      <h1 class="text-center mb-2 text-xl font-bold">Powerups</h1>
      <div class="w-[300px] h-[400px] overflow-y-scroll space-y-4 flex bg-[#212126] flex-col border rounded p-4" id="powerups">
        <div id="powerups-error" class="text-center text-orange-400"></div>
      </div>
    </div>
    <div id="waiter-card" class="flex flex-row justify-center"></div>
    <h1 class="text-center mt-4">Leaderboard</h1>
    <div class="flex flex-row justify-center flex-wrap mx-auto max-w-[1200px] space-4" id="leaderboard"></div> 

    <script>
      const powerups = {}
      const waiterCard = document.querySelector("#waiter-card");
      const powerupsContainer = document.querySelector("#powerups");
      const timeLeftContainer = document.querySelector("#time-left")

      let playerCurrentTimeUnits = {{ data.time_units }}
      const worker = new Worker("/worker.js") 
      let thisPlayerId = null;

      let timeLeft = {{ time_left }}

      // Time Left Interval

      function timeLeftFunc() {
        timeLeft--   

        const days = Math.floor(timeLeft / 60 / 60 / 24)
        const hours = Math.floor(timeLeft / 60 / 60 % 24)
        const minutes = Math.floor(timeLeft / 60 % 60);
        const seconds = Math.floor(timeLeft % 60)

        timeLeftContainer.innerText = `${days} days ${hours} hours ${minutes} minutes ${seconds} seconds`
      }

      setInterval(timeLeftFunc, 1000)
      timeLeftFunc()

      function toggleWhatIsThis() {
        document.querySelector("#what-is-this").classList.toggle("hidden"); 
      }

      function buy(powerup) {
        const fd = new FormData();
        fd.append("powerup", powerup)
        fetch("/buy", { method: "POST", body: fd })
          .then((x) => x.text())
          .then((r) => {
            console.log(r);
          })
      }

      worker.onmessage = ({ data }) => {
        const leaderboard = document.querySelector("#leaderboard");
        const newLeaderboardHtml = document.createElement("div");
        data.forEach((player) => {
          const card = document.createElement("div");
          card.innerHTML = `
          <div 
            style="background-color: ${player.bg_color}; color: ${player.text_color}" 
            class="
              p-4 
              rounded 
              m-2 
              w-[200px]
              h-[200px]
              text-white 
              flex 
              flex-col 
              justify-between
          ">
            <span class="text-2xl text-center">${escape(player.name)}</span>
            <div class="text-center my-auto flex flex-col">
              <span class="font-bold text-xl">
                ${player.time_units.toFixed(2)}
              </span>
              <span>Units</span>
            </div>
          </div>`
          newLeaderboardHtml.appendChild(card)

          if (player.public_key === thisPlayerId) {
            waiterCard.innerHTML = card.innerHTML;
            playerCurrentTimeUnits = player.time_units;
          }
        });

        leaderboard.innerHTML = newLeaderboardHtml.innerHTML
      }

      document.addEventListener("htmx:wsAfterMessage", (wsMsg) => {
        const { detail: { message } } = wsMsg;

        if (!message) return

        let jsonMsg;

        try {
          jsonMsg = JSON.parse(message)
        } catch (e) {
          return
        }

        worker.postMessage(jsonMsg) 

        const { player, time_left, powerups } = jsonMsg;

        timeLeft = time_left

        powerups.forEach((powerup) => {
          const { id } = powerup
          if (!id) return;

          if (JSON.stringify(powerup) !== powerups[id]) {
            powerups[id] = powerup
            const powerupCard = document.createElement("div");
            const buyButton = powerup.is_available_for_purchase && powerup.price <= playerCurrentTimeUnits
            ? `

<button 
    name="powerup"
    onclick="buy('${id}')"
    class="text-white bg-[#212126] border w-full mx-auto p-2 rounded cursor-pointer hover:bg-white hover:text-[#212126]" 
  >Buy</button>
            ` : `<div class="w-full text-center text-sm">Not Available</div>`
            powerupCard.id = `powerup-${id}`
            powerupCard.innerHTML = `
<div class="border rounded bg-[#212126] p-4">
  <h1 class="text-center font-bold">${powerup.name}</h1>
  <h2 class="text-center">${powerup.description}</h1>
  <h3 class="text-center font-bold my-4">${powerup.price} units</h3>
  ${buyButton} 
</div>
            `;

            const powerupContainer = document.querySelector(`#powerup-${id}`);        
            if (!powerupContainer) {
              powerupsContainer.appendChild(powerupCard);
            } else {
              powerupContainer.innerHTML = powerupCard.innerHTML;
            }
          }
        })

        console.log(time_left)
        thisPlayerId = player.public_key
      })
    </script>
  </body>
</html>

