<div id="leaderboard">
  <h3 class="tex-lg text-center">The Waiting Room</h3>
  <div class="m-2 flex flex-row flex-wrap [&>*]:m-2 justify-center">
    {% for x in leaderboard %}
      <div style="background: {{ x['color'] }}" class="card border flex flex-col shadow-md border-red-300 p-2 w-96 text-center items-center justify-center h-32">
        <h2>{{ x["name"] }}</h2>
        <div>{{ x["time_waited"] }}</div>
        {% if this_waiter != x["user"] %}
        <div class="flex flex-row space-x-2">
          <form hx-post="/transfer" hx-swap="none">
            <input type="hidden" name="waiter" value="{{ x["user"] }}">
            <button name="action" value="give" class="border border-2 shadow rounded p-4">Give 10s</button>
            <button name="action" value="take" class="border border-2 shadow rounded p-4">Take 10s</button>
          </form>
        </div>
        {% endif %}
      </div>
    {% endfor %} 
  </div>
</div>
